            <section class="footer-oss">
                <h4>Open source</h4>
                <p>
                    This GSA microsite is modified from <a href="https://github.com/cfpb/api">an open source project</a> maintained by the Consumer Financial Protection Bureau. We thank their team for sharing such a strong and useful model.
                </p>
                <p>
                    As a work of the United States Government, source code released by GSA is in the public
                    domain by default within the United States.
                </p>
            </section>


            <section class="footer-links">
                <ul>
                    <li>
                        <a href="http://www.gsa.gov/developer">GSA.gov/developer</a>
                    </li>
                    <li>
                        <a href="http://github.com/gsa">github.com/gsa</a>
                    </li>
                </ul>
            </section>



