<h1 class="page-title"><a href="index.html">Auctions API</a></h1>
      <p class="intro">Build your own tools using our API to access GSA Auctions listings</p>
    <nav>    
        <ul>
          <li><a href="https://gsa.github.io/auctions_api/" class="overview">Overview</a></li>
          <li><a href="basics" class="basics">API basics</a></li>
          <li><a href="fields" class="fields">Field reference</a></li>
          <li><a href="key" class="fields">API Key</a></li>
          <li><a href="mailto:sasyauctionsops@gsa.gov" target="_blank" class="fields">Feedback</a></li>
        </ul>
    </nav>
